# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/Grafik/node_modules
/Grafik/Grafik.xlsx
/Grafik/~$Grafik.xlsx
/Grafik/client_secret.json
/Grafik/schedule.json
/Konkursy/wyniki.xlsm
/Konkursy/~$wyniki.xlsm
/Konkursy/ciocio.xls
/Konkursy/~$ciocio.xls
/Konkursy/Pracownicze.xls
/Konkursy/~$Pracownicze.xls